<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= ENV['APP_NAME'] %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">


    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application', defer: true %>
  </head>

  <body class="antialiased bg-gray-100 font-sans">
    <% if flash[:notice] || flash[:alert] %>
      <div class="flex w-full max-w-4xl">
        <p class="notice bg-green-700 text-white p-2"><%= flash[:notice] %></p>
        <p class="alert bg-red-700 text-white p-2"><%= flash[:alert] %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
