<!DOCTYPE html>
<html>
  <head>
    <title>RailsBooster</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_javascript_tag 'application' %>

    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="antialiased font-sans text-gray-900">
    <%= yield %>
  </body>
</html>
