<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RailsBooster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application', defer: true %>
  </head>

  <body class="antialiased bg-gray-100 font-sans">
    <%= yield %>
  </body>
</html>
