<!DOCTYPE html>
<html>
  <head>
    <title>RailsBooster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="antialiased text-slate-900 bg-slate-50">
    <% if flash[:notice] %>
      <%= content_tag(:span, flash[:notice], class: "flash_notice") %>
    <% end %>

    <% if flash[:alert] %>
      <%= content_tag(:span, flash[:alert], class: "flash_alert") %>
    <% end %>

    <%= yield %>
  </body>
</html>
